footer {
    background-color: rgb(250, 224, 228);
}

footer ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer ul li {
    list-style: none;
    margin-right: 20px;
}