header {
    background-color: rgb(250, 224, 228);
    border-radius: 10px;
    background-size: 500px 300px;
}

header ul {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-inline: 80px;
    font-weight: bold ;
    list-style: none;
    
    
}

header nav ul li a {
    list-style: none;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    
    
}