header {
    background-color: rgb(202, 240, 248);
    
}

header ul {
    display: flex;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-inline: 80px;
    font-weight: bold ;
    
}

header ul li {
    list-style: none;
    margin-right: 20px;
    
}